worker_processes  8;
events {
    worker_connections 1024;
}

http {
    upstream verifications_servers {
        least_conn;
        server 7.12.24.7:5000;
        server 7.11.120.7:5000;
        keepalive 32;
    }

    server {
        listen 8085;

        location / {
            proxy_pass http://verifications_servers;
            proxy_set_header Host $http_host;
            proxy_set_header X-Real-IP $remote_addr;

            proxy_connect_timeout 3s;
            proxy_send_timeout 5s;
            proxy_read_timeout 5s;
            proxy_buffering off;

            proxy_next_upstream error timeout http_500 http_502 http_503 http_504; #Условия для перенаправления запроса на другой сервер
            proxy_next_upstream_tries 2;  # максимум 2 попытки
            proxy_next_upstream_timeout 10s; # на все попытки выделено 10 секунд
        }
    }
}

